@media (prefers-color-scheme: dark) {
  :root {

    --ground: #242424;
    --card: #3d3d3d;
    --card-hover: #646464;
    --button: #333;
    --main: rgba(255, 255, 255, 0.87);
    --interact: #646cff;

    --sidebar-ground: darkslategrey;
    --sidebar-card: #333333;
    --sidebar-main: #ffffff;
    --sidebar-hint: #a1a1a1;
    
    --nav-active: darkslategrey;
    --nav: rgb(119, 197, 197);
    --nav-hover: rgba(47,79,79,0.5);

    --error-text: #3a0000;
    --error-card: rgba(255,0,0,.2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --ground: #ffffff;
    --card: #e9e9e9;
    --card-hover: #dbdbdb;
    --button: #f9f9f9;
    --main: #213547;
    --interact: #646cff;

    --sidebar-ground: darkslategrey;
    --sidebar-card: #333333;
    --sidebar-main: #ffffff;
    --sidebar-hint: #a1a1a1;
    --sidebar-button: #1a1a1a;

    --nav: darkslategrey;
    --nav-hover: rgba(119, 197, 197, 0.2);

    --error-text: #b70000;
    --error-card: rgba(255,0,0,.2);
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main);
  background-color: var(--ground);
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-left: 20em;
  width: 100%-20em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.saveButton {
  text-align: right;
  background-color: var(--button);
}
.saveButton:hover {
  border-color: var(--interact);
}

.card {
  padding: 2em;
}

.mainContent {
  float: left;
  padding: 2em 7em 0 7em;
}

.sidebar {
  height: 100%;
  width: 20em;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--sidebar-ground);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  flex-wrap: wrap;
}

.sidebar h2 {
  margin-top: 0;
  text-align: center;
  color: var(--sidebar-main);
}

.sidebar label {
  margin-top: 0;
  text-align: center;
  color: var(--sidebar-main);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: underline;
  margin-left: 10px;
}

.search-bar {
  margin-left: 20px;
  width: 100%;
  max-width: 220px;
  height: 30px;
  background: var(--sidebar-card);
  display: flex;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 15px;
  color: var(--sidebar-main);
}

.sidebar button {
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--sidebar-main);
  color: var(--sidebar-ground);
}

.activityCard {
  cursor: pointer;
  background-color: var(--card);
  margin-top: 40px;
  margin-bottom: 5px;
  margin-right: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 500px;
}

.activityCard:hover {
  background-color: var(--card-hover);
}


.topbar {
  display: flex;
}
.nav {
  border-radius: 0;
  background-color: var(--card);
  font-size: 1.3em;
  width: 100%;
  min-width: 75px;
  flex-shrink: 2.25;
  color: var(--nav);
  border-width: 0 0 2px 0;
}

button.nav:disabled{
  border-color: var(--nav);
  font-weight: bold;
}
button.nav:hover:enabled{
  background-color: var(--nav-hover);
  
}


img.loading {
  width: 100%;
}

.error {
  color: var(--error-text);
  background-color: var(--error-card);
  text-decoration: solid;
  border-color: var(--error-text);
  border-radius: 5px;
  border-width: 2px;
  padding: 1em;
  width: 100%;
}
